* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: futura;
    src: url(../font/FontsFree-Net-Futura6.ttf);

}

@font-face {
    font-family: aestetico;
    src: url(../font/aestetico-formal-bold.otf);

}

:root {
    /* HET KLEURENPALET */
    --color-text: black;
    --color-background: white;
    --color-background-nav: white;
    --size-whitespace: 1em;

    --button-border-color: rgb(189, 189, 189);
    --button-background-color: white;

    --merken-background-color: #FFE6CC;
    --border-list-color: #c4c4c4;
    --pink-section-background-color: #ffb3c7;
    --video-background-color: #7fffd4;

    --link-color: white;
    --link-background-color: black;
    --link-active-background-color: #5d5d5d;
    --link-active-color: white;
    --link-hover-color: black;
    --link-hover-background-color: white;
    --link-focus-background-color: #ffb3c7;
    --link-focus-color: black;
    --link-focus-border: #4573ff;

    --link-hover-nobackground-color: grey;
    --link-active-nobackground-color: black;

    --header-border-bottom: #C7C9CC;

    --betalen-link-nobackground-color: #487B94;
    --betalen-link-text-color:black;

    --footer-background-color: black;
    --footer-text-color: white;
    --footer-summary-text-color: #ffb3c7;
    --footer-details-link-focus-border: white;
    --footer-details-link-active: #5d5d5d;
    --footer-details-hover-color:#487B94;


}


body {
    /* alles wat hierin zit krijgen allemaal dezelfde waardes */
    font-family: sans-serif;
    text-align: center;
    /* tekst naar het midden*/
    background-color: var(--color-background);
    color: var(--color-text);
}



header {
    position: fixed;
    text-align: left;
    width: 100vw;
    height: 5em;
    padding: 1, 75em 1, 6em;
    background-color: var(--color-background-nav);
    box-shadow: 0 0.125em 0.4em 0 rgb(0 0 0 / 5%);
    border-bottom: 0.06em solid var(--header-border-bottom);

    list-style: none;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 0.9em;
    letter-spacing: 0.03em;
    top: 0;
    z-index: 999;

}

header>img {
    width: 5em;
    height: 5em;
    margin-left: 1.5em;
}

header div {
    position: absolute;
    right: 1.9em;
    top: calc(100% + -0.5em);
    font-size: 3em;
    line-height: 1;
    user-select: none;

    animation-name: onthul-hand-animation, wijs-naar-knop-animation;
    animation-duration: 3s, 3s;
    animation-iteration-count: 1, infinite;
}

@keyframes onthul-hand-animation {

    0%,
    90% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wijs-naar-knop-animation {

    0%,
    45% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(-1rem);
    }

    55%,
    100% {
        transform: translatey(0);
    }
}

header div img {
    margin-left: 0;
    width: 0.7em;
    transform: rotate(270deg);

}

header button:nth-of-type(1) {
    cursor: pointer;
    margin: 1.5em 0 1.5em 11em;
    padding: 0em 0.75em 0em 0.75em;
    border-radius: 3em;
    border: solid thin var(--button-border-color);
    width: 5em;

    font-weight: 600;
    color: #4a4a4a;
}

header button:nth-of-type(1):focus {
    border: 0.5em solid var(--link-focus-border);
    border-width: 0.2em;
}

header button:nth-of-type(1):hover {
    background-color: black;
    color: white;
}

header button:nth-of-type(1):active {
    color: var(--link-active-color);
    background-color: var(--link-active-background-color);
}



header button:nth-of-type(2) {
    margin-left: 1em;
    cursor: pointer;
}

header button:nth-of-type(2) img {
    width: 1.5em;
    height: 1.5em;
}

header nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--color-background-nav);
    z-index: 9999;
    display: none;

}

header nav section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100vw;
    margin: 0;

    background-color: var(--color-background-nav);
    box-shadow: 0 0.125em 0.4em 0 rgb(0 0 0 / 5%);
    border-bottom: 0.06em solid var(--header-border-bottom);

}

header nav section:first-of-type button {
    margin-right: 1em;
    border: none;
    background-color: transparent;
}

header nav section:first-of-type button:hover {
    border: none;
    background-color: transparent;
    color: none;
}

header nav section:first-of-type button:active {
    border: none;
    background-color: transparent;
    color: none;
}

header nav section:first-of-type button img {
    width: 1.2em;
    height: 1.2em;
}

header nav ul{
    display: flex;
    flex-direction: column;
    margin-top:1em;
}

header nav ul li{
    padding: 0;
}

header nav ul li a {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: transparent;
    color: var(--color-text);
    font-size: 1.2em;
    margin: 0.2em;
    font-weight: 550;

}


header nav ul li a:hover{
    border:none;
    background-color:transparent;
    color:var(--link-hover-nobackground-color);
}

header nav ul li a:active{
border: none;
background-color:transparent;
color: var(--link-active-nobackground-color);
text-decoration: underline;

}

.toonMenu {
    display: block;
}

header>button {
    background-color: var(--button-background-color);
}

header>button:nth-of-type(2) {
    border: none;
}

header button img {
    width: 2em;
    height: 2em;
    padding: 0;
    margin: 0;
}

main img:first-child {
    margin-top: 4em;
    width: 95vw;
    height: auto;
}


main img:nth-of-type(2) {
    position: relative;
    top: -5vw;
    width: 5em;
    height: 5em;
    left: -13em;
    margin-bottom: 0;
    animation: sleeAnimation 4s infinite ease;
}

@keyframes sleeAnimation {
    from {
        left: -13em;
    }

    to {
        left: 14em;
    }
}


a {
    padding: 0.9em;
    font-size: 1em;
    text-decoration: none;
    width: 12em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2em;
    font-weight: 600;
    color: var(--link-color);
    background-color: var(--link-background-color);

    overflow: hidden;
    transition: 0.2s
}

a:focus {
    border: 0.5em solid var(--link-focus-border);
    border-width: 0.2em;

}

a:hover {
    color: var(--link-hover-color);
    background-color: var(--link-hover-background-color);
    border: solid 0.05em black;
    box-shadow: none;
}

a:active {
    color: var(--link-active-color);
    background-color: var(--link-active-background-color);
}


section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    font-family: "futura";
    margin: 1em 2em 2em 1.5em;
    transform: translate(-0.1 -0.2em -0.2em -0.5em);

}

section:nth-of-type(1) h1 {
    font-size: 2.5em;
    font-family: "aestetico", Arial, Helvetica, sans-serif;
    line-height: 100%;
    letter-spacing: 0.01em;

    font-size: 2.2em;
    font-weight: 750;
}



section:nth-of-type(1) p {

    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin-top: 1em;

}

section:nth-of-type(1) a {
    display: flex;
    justify-content: center;
    text-align: center;
}


h2 {
    font-size: 1.2em;
    margin-top: 4em;
    text-align: left;
    margin-left: 1.5em;
    font-weight: 10;
    margin-bottom: 0;
}

section:nth-of-type(2) {
    display: flex;
    overflow-x: scroll;
    list-style-type: none;
    margin: 1em 2em 2em 1.5em;

}

section:nth-of-type(2) img {
    margin-top: 0.5em;
    padding-right: 2em;
    width: 19em;
    height: 13em;

}

section:nth-of-type(2) p {
    text-align: left;
    margin-top: 1em;
}

h2:nth-of-type(2) {
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin: 5em 1em 0em 1em;
}

section:nth-of-type(3) {
    margin: 0em 2em 2em 1.5em;
}

section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);


}

section:nth-of-type(3) li {
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style: none;
    margin:0;
}

section:nth-of-type(3) img {
    width: 20.3em;
    height: 20.3em;

}

section:nth-of-type(3) h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

section:nth-of-type(3) p {
    line-height: 1.5em;
    letter-spacing: 0.05em;

}

section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4em 2em 2em 1.5em;
}

section:nth-of-type(4) img {
    order: -3;
    width: auto;
    height: auto;
    margin-top: 4em;
}

section:nth-of-type(4) h2 {
    order: -1;
    margin: 0;
    margin-top: 0.2em;
    font-size: 2.2em;
    font-weight: 750;

}

section:nth-of-type(4) h3 {
    order: -2;
    margin-top: 1.5em;
    font-weight: 600;
    font-size: 1em;
}

section:nth-of-type(4) h4 {
    order: 0;
    font-size: 1.1em;
    letter-spacing: 0.07em;
    margin-top: 1em;
    font-weight: 1;
    color: var(--color-text);
    line-height: 130%;
}

section:nth-of-type(4) ul {
    order: 1;
    margin-top: 0.5em;
    margin-left: 3em;

    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.02em;

}

section:nth-of-type(4) a {
    order: 2;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    width: 12em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

section:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1em 2em 2em 1.5em;
}

section:nth-of-type(5) img {
    margin: 5em 2em 0 0;

    width: 20em;
    height: 20em;
}

section:nth-of-type(5) h2 {
    margin: 0.8em 0 0 0;
    font-size: 2.2em;
    font-weight: 750;
}

section:nth-of-type(5) p {
    font-size: 1.1em;
    letter-spacing: 0.07em;
    line-height: 160%;
    margin-top: 1em;
    font-weight: 1;
    color: var(--color-text);
}


section:nth-of-type(5) a {
    order: 2;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 12em;
}

section:nth-of-type(6) {
    background-color: var(--merken-background-color);
    padding-top: 3.9em;
    margin-top: 3.5em;
    text-align: left;
}

section:nth-of-type(6) h2 {
    text-align: left;
    margin: 0 1.5em 0 0.7em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
}

section:nth-of-type(6) p {
    font-size: 1.1em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin: 1em 1.5em 1em 1em;
}

section:nth-of-type(6) ul {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 11em);

}

section:nth-of-type(6) li {
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9em;
    list-style: none;
    padding: 0;

}

section:nth-of-type(6) img {
    width: 9.4em;
    height: auto;
}

section:nth-of-type(6) a {
    display: inline-block;
    color: var(--color-text);
    text-decoration: none;
    font-size: 1em;
    background: none;
    font-family: inherit;
    margin-left: 1.5em;
    margin-bottom: 2em;
}

section:nth-of-type(6) a:hover {
    background-color: none;
    box-shadow: none;
    color: var(--link-hover-nobackground-color);
    border: none;
}

section:nth-of-type(6) a:active {
    color: var(--link-active-nobackground-color);
    background-color: none;
    border: none;
    text-decoration: underline;
}


section:nth-of-type(7) {
    display: flex;
    flex-direction: column;
    margin: 4em 2em 2em 1.5em;
}

section:nth-of-type(7) h2 {
    text-align: left;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
}

section:nth-of-type(7) ul {
    list-style: none;
    margin-top: 4em;
}

section:nth-of-type(7) li {
    border: 0.01em solid var(--border-list-color);
    padding: 1.5em;
    margin-bottom: 2em;
}

section:nth-of-type(7) li h3 {
    text-align: left;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;

}

section:nth-of-type(7) li p {
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 1em;
    margin-bottom: 1em;
}

section:nth-of-type(8) {
    display: flex;
    flex-direction: column;

}

section:nth-of-type(8) h2 {
    text-align: left;
    margin-top: 0;
    margin-left: 1.1em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
}

section:nth-of-type(8) p {
    font-size: 1.1em;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05em;
    margin: 1em 1.5em 2em 1.5em;
    line-height: 130%;
}

section:nth-of-type(8) li h3 {
    text-align: left;
    margin: 0em 1.5em 0 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.2em;
    line-height: 130%;
    font-weight: 550;
}

section:nth-of-type(8) li p {
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-top: 0.2em;
}

section:nth-of-type(9) {
    display: flex;
    flex-direction: column;
    background-color: var(--pink-section-background-color);
    height: 23.4em;

}

section:nth-of-type(9) h2 {
    text-align: left;
    margin-top: 0;
    margin-left: 1.1em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    line-height: 130%;
    letter-spacing: 0.02em;
    padding: 4em 0 0 0;
}

section:nth-of-type(9) a {
    margin: 2em 0 0 2em;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 9em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

section:nth-of-type(10) {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 2em 1.5em;
    align-items: center;
}

section:nth-of-type(10) h5 {
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1em;
}

section:nth-of-type(10) label {
    position: relative;
    display: inline-block;
    width: 5.6em;
    height: 2.5em;
    margin: 0 2em 0 0;

}

section:nth-of-type(10) label input {
    display: none;

}

span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2.125em;
    z-index: -999;
}


span:before {
    position: absolute;
    content: "";
    height: 1.9em;
    width: 1.9em;
    left: 3.4em;
    bottom: 0.3em;
    background-color: white;
    transition: 0.4s;
    border-radius: 1.6em;

}

input:checked+span {
    background-color: #61ce4b;

}

input:checked+span:before {
    transform: translateX(-3.125em);
}


/* -------------------------------------------------------------betalen
 */
 .betalen p {
    text-align: left;
    margin: 2.5em 1.5em 2em 1em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: lighter;
    line-height: 130%;
    letter-spacing: 0.02em;
}

.betalen section:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    background-color: var(--pink-section-background-color);
    padding: 3em 5em 4em 2em;
    margin: 3em 0 0 0;

}

.betalen section:nth-of-type(1) h1 {
    font-size: 2.7em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin: 0;
    text-align: left;
    width: 6em;

}

.betalen section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 0;

}

.betalen section:nth-of-type(2) h2 {
    font-size: 2.5em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin: 0;
}

.betalen section:nth-of-type(2) p {
    font-size: 1.1em;
    letter-spacing: 0.03em;
    font-weight: 1;
    margin: 0;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;

}


.betalen section:nth-of-type(3) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);
}

.betalen section:nth-of-type(3) li {
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style: none;
}

.betalen section:nth-of-type(3) li img {
    width: 20.3em;
    height: 20.3em;
}

.betalen section:nth-of-type(3) li h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.betalen section:nth-of-type(3) li p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0;
}

.betalen section:nth-of-type(4) {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.betalen section:nth-of-type(4) img {
    width: 20em;
    height: auto;
}

.betalen section:nth-of-type(4) h2 {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.betalen section:nth-of-type(4) p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0;
}

.betalen section:nth-of-type(4) a {
    background-color: transparent;
    color: var(--betalen-link-nobackground-color);
    margin: 0;
    margin-top: 2.5em;
    padding: 0;
    text-align: left;

}

.betalen section:nth-of-type(4) a:hover {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: var(--link-hover-nobackground-color);
    text-decoration: underline;
}

.betalen section:nth-of-type(4) a:active {
    color: var(--betalen-link-text-color);
    background-color: none;
    border: none;
}

.betalen section:nth-of-type(5) {
    display: flex;
    flex-direction: column;

}

.betalen section:nth-of-type(5) h2 {
    font-size: 2.5em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin: 0;
    margin-top: 1em;
}

.betalen section:nth-of-type(5) p {
    font-size: 1.1em;
    letter-spacing: 0.03em;
    font-weight: 1;
    margin: 0;
    margin-top: 1em;
    font-family: Arial, Helvetica, sans-serif;

}

.betalen section:nth-of-type(6) {
    margin: 0;
    padding: 0;
    background-color: transparent;
    text-align: left;


}

.betalen section:nth-of-type(6) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);
}

.betalen section:nth-of-type(6) li {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style: none;
    margin-bottom: 3em;
    width: auto;
    align-items: flex-start;


}

.betalen section:nth-of-type(6) li img {
    width: 20.3em;
    height: 20.3em;
    margin: 0;
}

.betalen section:nth-of-type(6) li h3 {
    margin-left: 0;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;

}

.betalen section:nth-of-type(6) li p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0;
}

.betalen section:nth-of-type(7) {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.betalen section:nth-of-type(7) ul {
    list-style: disc;
    margin: 0;
    margin-top: 1em;
}

.betalen section:nth-of-type(7) li {
    border: none;
    margin: 0 0 0 3em;
    padding: 0.5em;
    text-align: left;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;

}

.betalen section:nth-of-type(7) img {
    width: 20em;
    height: auto;
}

.betalen section:nth-of-type(7) h2 {
    margin-top: 1.3em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
}

.betalen section:nth-of-type(7) p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0;
}

.betalen section:nth-of-type(7) a {
    background-color: transparent;
    color: var(--betalen-link-nobackground-color);
    margin: 0;
    margin-top: 2em;
    padding: 0;
    text-align: left;
    text-decoration: none;
    font-weight: 700;

}

.betalen section:nth-of-type(7) a:hover {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: var(--link-hover-nobackground-color);
    text-decoration: underline;
}

.betalen section:nth-of-type(7) a:active {
    color: var(--betalen-link-text-color);
    background-color: none;
    border: none;
}

.betalen section:nth-of-type(8) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1em 1.5em 2em 1.5em;
}

.betalen section:nth-of-type(8) h2 {
    font-size: 2.5em;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-weight: lighter;
    line-height: 100%;
    letter-spacing: 0.01em;
    margin: 0;
}

.betalen section:nth-of-type(8) p {
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 1;
    margin: 0;
    margin-top: 1em;

}

.betalen section:nth-of-type(9) {
    background-color: transparent;
    margin-left: 1.5em;
}

.betalen section:nth-of-type(9) ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20em);
}

.betalen section:nth-of-type(9) li {
    display: flex;
    flex-direction: column;
    text-align: start;
    list-style: none;
    margin:0;
}

.betalen section:nth-of-type(9) li img {
    width: 20.3em;
    height: 20.3em;
}

.betalen section:nth-of-type(9) li h3 {
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 1em;
}

.betalen section:nth-of-type(9) li p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    margin: 0;
}

.betalen section:nth-of-type(10) {
    display: flex;
    flex-direction: column;
    margin: 90em 2em 2em 1.5em;
}

.betalen section:nth-of-type(10) h2 {
    text-align: left;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 2.5em;
    line-height: 130%;
    letter-spacing: 0.02em;
}

.betalen section:nth-of-type(10) ul {
    list-style: none;
    margin-top: 4em;
}

.betalen section:nth-of-type(10) li {
    display: flex;
    flex-direction: column;
    border: 0.01em solid var(--border-list-color);
    padding: 2em;
    margin-bottom: 1.5em;
}

.betalen section:nth-of-type(10) li h3 {
    text-align: left;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 130%;
    letter-spacing: 0.02em;

}

.betalen section:nth-of-type(10) li p {
    font-size: 1em;
    text-align: left;
    line-height: 1.5em;
    letter-spacing: 0.02em;

    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2em;

}

.betalen section:nth-of-type(10) li a {
    margin: 0;
    text-align: center;

    padding: 0.9em 1.25em 0.9em 1.25em;
    font-size: 1em;
    text-decoration: none;
    width: 16em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    font-weight: 600;
}

.betalen section:nth-of-type(10) li a:nth-of-type() {
    margin: 0;
    text-align: center;

    padding: 0.9em 1.25em 0.9em 1.25em;
    font-size: 1em;
    color: white;
    background-color: pink;
    text-decoration: none;
    width: 16em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.5em;
    font-weight: 600;
}

.betalen section:nth-of-type(11) {

    background-color: var(--video-background-color);

}

.betalen section:nth-of-type(11) iframe {
    margin: 2em 1.1em 2em 0.5em;
    width: 20em;
    height: 15em;
}

.betalen section:nth-of-type(12) {
    display: flex;
    flex-direction: column;
    background-color: var(--pink-section-background-color);
    height: 27em;

}

.betalen section:nth-of-type(12) h2 {
    text-align: left;
    font-family: "aestetico",Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    line-height: 130%;
    letter-spacing: 0.02em;
    margin-left: 1.1em;
    margin-top: 2.2em;
}

.betalen section:nth-of-type(12) p {
    font-size: 1.2em;
    letter-spacing: 0.03em;
    font-weight: 1;
    margin: 1em 1.5em 3em 1.5em;
    font-family: Arial, Helvetica, sans-serif;

}

.betalen section:nth-of-type(12) a {
    margin: 0 0 0 2em;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    width: 9em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}

/* --------------------------------------------------------footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--footer-background-color);
    height: auto;
    color: var(--footer-text-color);
}

footer img {
    text-align: left;
    width: 5em;
    height: 5em;
    margin-left: 1.5em;
    margin-top: 1em;

}

footer details {
    text-align: left;
    margin-left: 1.5em;
    cursor: pointer;

}

footer details summary {
    list-style: none;
    font-weight: 800;
    margin-bottom: 1em;
    margin-top: 2.5em;

}

footer details summary:focus {
    border: 0.5em solid thin var(--link-focus-border);
    border-width: 0.2em;

}

footer details summary:hover {
    color: var(--footer-summary-text-color);
}

footer details summary:active {
    color: var(--link-active-color);
    background-color: var(--link-active-background-color);
}


footer details ul {
    text-decoration: none;
    list-style: none;
}

footer details a {
    margin: 0;
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 1em;
    text-align: left;
    line-height: 2em;
    letter-spacing: 0.02em;
    margin-top: 0.2em;
    font-weight: lighter;

}

footer details a:focus {
    border: 0.5em solid thin var(--footer-details-link-focus-border);
    border-width: 0.2em;
}

footer details a:hover {
    background-color: transparent;
    color: var(--footer-details-hover-color);
    border: none;

}

footer details a:active {
    color: var(--footer-details-link-active);
    background-color: none;
    text-decoration: none;
    text-decoration: underline;
}


footer select {
    cursor: pointer;
    height: 3.75em;
    width: 20em;
    border: none;
    border-radius: 0.5em;
    margin-left: 1.5em;
    padding-left: 1em;
    font-weight: 600;
    font-size: 1em;
    margin-top: 2.5em;
}


footer section:first-of-type {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

footer section:first-of-type a {
    background-color: white;
    padding: 0.7em;
    margin: 1em;
    margin-left: 0em;
    display: inline;
    width: auto;
}

footer section:first-of-type a:hover {
    background-color: var(--footer-summary-text-color);

}

footer section:first-of-type a:active {
    background-color: var(--footer-details-link-active)
}

footer section:first-of-type a img {
    width: 1.2em;
    height: auto;
    margin: 0;
    padding: 0;

}

footer p {
    text-align: left;
    font-size: 0.75em;
    line-height: 130%;
    margin: 4em 2.5em 0 1.5em;
}

footer>ul {
    margin: 0.5em 0 2em 0.5em;
    text-align: left;
    list-style: none;
}

footer > ul li {
    padding: 0.25em 0;
}

footer > ul a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 0.75em;
    line-height: 130%;
    font-weight: lighter;
}

footer>ul a:focus {
    border: 0.5em solid thin var(--footer-details-link-focus-border);
    border-width: 0.2em;
}

footer>ul a:hover {
    background-color: transparent;
    color: var(--footer-details-hover-color);
    border: none;
}

footer ul>a:active {
    color: var(--footer-details-link-active);
    background-color: none;
    text-decoration: none;
    text-decoration: underline;
}